" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

source ~/.vimrc

set nocp
set incsearch
set hls

set ideajoin
set ideamarks

" set easymotion
set quickscope
" set which-key
set NERDTree
" set sneak
set surround
set textobj-entire

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t

map <leader>f <Action>(ReformatCode)

" run
map <leader>ra <Action>(Resume)
map <leader>rr <Action>(Run)
map <leader>R <Action>(RunClass)
map <leader>rd <Action>(Debug)
map <leader>D <Action>(DebugClass)

map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>B <Action>(ToggleBreakpointEnabled)
map <leader>i <Action>(ImplementMethods)

" search
map <leader>sf <Action>(GotoFile)
map <leader>sg <Action>(FindInPath)
map <leader>sa <Action>(GotoAction)

" navigation
nmap gI <Action>(GotoImplementation)
nmap <leader>D <Action>(GotoTypeDeclaration)

" git
nmap <leader>gg <Action>(Vcs.Show.Local.Changes)
nmap <leader>gb <Action>(Annotate)
nmap <leader>co <Action>(GitCheckoutFromInputAction)

" code action
map <leader>rn <Action>(RenameElement)
map <leader>ca <Action>(ShowIntentionActions)
map <leader>an <Action>(Inline)
map <leader>am <Action>(ExtractMethod)
map <leader>av <Action>(IntroduceVariable)
map <leader>ac <Action>(IntroduceConstant)
map <leader>ap <Action>(IntroduceParameter)
map <leader>au <Action>(Unwrap)
map <leader>a <Action>(MoveElementRight)
map <leader>A <Action>(MoveElementLeft)

" file explorer
nmap <leader>pv <Action>(ActivateProjectToolWindow)

nmap ]m <Action>(MethodDown)
nmap [m <Action>(MethodUp)

nmap ]c <Action>(VcsShowNextChangeMarker)
nmap [c <Action>(VcsShowPrevChangeMarker)
nmap <leader>hr <Action>(Vcs.RollbackChangedLines)

" map <c-up> <Action>(StretchSplitToTop)
" map <c-down> <Action>(StretchSplitToBottom)
" map <c-left> <Action>(StretchSplitToLeft)
" map <c-right> <Action>(StretchSplitToRight)

map <c-e> <Action>(GotoNextError)
map <c-y> <Action>(GotoPreviousError)

nmap <c-j> <CR>
imap <c-j> <CR>
" nmap <c-k> <Action>(PreviousTab)

vmap J <Action>(MoveStatementDown)
vmap K <Action>(MoveStatementUp)
vmap <c-s-j> <Action>(MoveLineDown)
vmap <c-s-k> <Action>(MoveLineUp)

nmap <leader>k <Action>(QuickImplementations)
nmap <leader>K <Action>(ShowErrorDescription)

imap <c-k> <Action>(QuickJavaDoc)
imap <c-s-p> <Action>(HippieCompletion)
imap <c-s-n> <Action>(HippieBackwardCompletion)

" Editor action
nmap <leader>ep <Action>(PinActiveEditorTab)
nmap <leader>et <Action>(VimFindActionIdAction)
nmap <leader>ev <Action>(Vcs.QuickListPopupAction)
nmap <leader>eo <Action>(KeepTabOpen)

" idea Macros
nmap <leader>mq <Action>(Macro.find config file)

" method text obj workaround
nmap yaf [{V%oky
nmap yif V$%oky
nmap daf [{V%okd
nmap dif V$%okd

" others
nmap <leader>rt <Action>(RestartIde)
nmap <leader>ri <Action>(InvalidateCaches)
nmap <leader>vr <Action>(VimActions)
